<article class="about  active" data-page="inicio">

    <header>
        <h2 class="h2 article-title">Inicio</h2>
    </header>

    <!--
      - ALERTAS
    -->

    <section class="service">

        <div class="contenedor_img_inicio">
            <div class="img_general_mosotros">
                <img class="portadaInicio" src="../../assets/img/portadas/Ecuador.jpg" alt="Mapa de calor">
            </div>

            <h3 class="h3 service-title">¡AYUDA A MEJORAR LA SEGURIDAD EN TU COMUNIDAD!</h3>

            <p class="service-item-text centro_text">
                Nuestro aplicativo web para la gestión de emergencias comunitarias en la comunidad de Luz de América se
                basa en un mapa de calor altamente efectivo. Su principal objetivo es identificar de forma precisa los
                puntos de alta densidad de incidentes, proporcionando así una visión clara de la situación. Además, el
                aplicativo ofrece reportes estadísticos comprensibles tanto para los residentes como para las
                autoridades locales.
            </p>
            <br>
            <p class="service-item-text centro_text">
                Al navegar por nuestro aplicativo web, los usuarios pueden filtrar los incidentes según su ubicación,
                año, mes y día. Esto facilita la obtención de información relevante y personalizada sobre los incidentes
                más comunes en la zona. Con un diseño intuitivo y fácil de usar, nuestro aplicativo web se convierte en
                una herramienta valiosa para la gestión de emergencias, promoviendo la seguridad y el bienestar de la
                comunidad de Luz de América.
            </p>
        </div>
        <br>


        <!-- <h3 class="h3 service-title">Información Específica</h3>

        <ul class="service-list">

            <li class="service-item">

                <div class="service-content-box">
                    <h4 class="h4 service-item-title">SEÑAL DE AYUDA</h4>

                    <p class="service-item-text">
                        Ubicación de la señal.
                    </p>
                </div>

            </li>

        </ul> -->


        <h3 class="h3 service-title">Mapa de calor</h3>

        <section class="mapbox">
            <div id="map" style="height: 100%"></div>
        </section>

    </section>

    <h3 hidden class="h3 service-title">Mapa de calor</h3>

    <section hidden class="mapbox">
        <div id="map" style="height: 100%"></div>
    </section>


    <!--
        - testimonials modal
      -->

    <div class="modal-container" data-modal-container>

        <div class="overlay" data-overlay></div>
        <section class="testimonials-modal">
            <button class="modal-close-btn" data-modal-close-btn>
                <ion-icon name="close-outline"></ion-icon>
            </button>

        </section>

    </div>

</article>